<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>cloudlibraryAutomation.CheckoutBookFromFeaturedShelf</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Checkout_Book_From_Featured_Shelf</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>login</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Launch_the_application</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Featured_Shelves</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Initial_Left_Navigation</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Welcome</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>cloudlibraryAutomation.LogintotheApplication</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>login</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Launch_the_application</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Welcome</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>cloudlibraryAutomation.InitialLeftNavigation</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>login</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Launch_the_application</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Initial_Left_Navigation</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Welcome</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>cloudlibraryAutomation.LaunchtheApplication</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Launch_the_application</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Welcome</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>cloudlibraryAutomation.LogOutoftheApplication</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Logout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Read_from_MyBooks</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Return_from_MyBooks</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Checkout_Book_From_Featured_Shelf</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>login</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Launch_the_application</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Featured_Shelves</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Initial_Left_Navigation</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Welcome</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>cloudlibraryAutomation.QuitTheApplication</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Logout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Read_from_MyBooks</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Return_from_MyBooks</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Checkout_Book_From_Featured_Shelf</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>login</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Launch_the_application</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Featured_Shelves</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Initial_Left_Navigation</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Welcome</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>QuitApplication</td>
<td>&nbsp;</td></tr>
<tr>
<td>cloudlibraryAutomation.ReadfromMyBooks</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Read_from_MyBooks</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Checkout_Book_From_Featured_Shelf</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>login</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Launch_the_application</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Featured_Shelves</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Initial_Left_Navigation</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Welcome</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>cloudlibraryAutomation.NavigatetoMybooksandReturnBooks</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Read_from_MyBooks</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Return_from_MyBooks</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Checkout_Book_From_Featured_Shelf</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>login</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Launch_the_application</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Featured_Shelves</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Initial_Left_Navigation</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Welcome</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>cloudlibraryAutomation.FeaturedShelves</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>login</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Launch_the_application</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Featured_Shelves</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Initial_Left_Navigation</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Welcome</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
