<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>BibliothecaCloudLibrary by packages</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="67ec80">  <td>16/01/26 13:02:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;cloudLibraryConfiguration.Welcome()[pri:0, instance:cloudlibraryAutomation.CheckoutBookFromFeaturedShelf@2ed94a8b]">&gt;&gt;Welcome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/01/26 13:03:23</td>   <td>45278</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LaunchtheApplication.Launch_the_application()[pri:1, instance:cloudlibraryAutomation.CheckoutBookFromFeaturedShelf@2ed94a8b]">Launch_the_application</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="67ec80">  <td>16/01/26 13:03:34</td>   <td>56604</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;cloudLibraryConfiguration.Welcome()[pri:0, instance:cloudlibraryAutomation.FeaturedShelves@38082d64]">&gt;&gt;Welcome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/01/26 13:03:34</td>   <td>56954</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LaunchtheApplication.Launch_the_application()[pri:1, instance:cloudlibraryAutomation.FeaturedShelves@38082d64]">Launch_the_application</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/01/26 13:03:34</td>   <td>56967</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LaunchtheApplication.Launch_the_application()[pri:1, instance:cloudlibraryAutomation.QuitTheApplication@64616ca2]">Launch_the_application</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/01/26 13:03:34</td>   <td>56978</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogintotheApplication.login()[pri:2, instance:cloudlibraryAutomation.CheckoutBookFromFeaturedShelf@2ed94a8b]">login</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/01/26 13:03:34</td>   <td>56986</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogintotheApplication.login()[pri:2, instance:cloudlibraryAutomation.FeaturedShelves@38082d64]">login</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/01/26 13:03:34</td>   <td>56993</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogintotheApplication.login()[pri:2, instance:cloudlibraryAutomation.QuitTheApplication@64616ca2]">login</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="7e6faf">  <td>16/01/26 13:03:34</td>   <td>57000</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InitialLeftNavigation.Initial_Left_Navigation()[pri:3, instance:cloudlibraryAutomation.CheckoutBookFromFeaturedShelf@2ed94a8b]">Initial_Left_Navigation</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="7e6faf">  <td>16/01/26 13:03:34</td>   <td>57008</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InitialLeftNavigation.Initial_Left_Navigation()[pri:3, instance:cloudlibraryAutomation.FeaturedShelves@38082d64]">Initial_Left_Navigation</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="7e6faf">  <td>16/01/26 13:03:34</td>   <td>57017</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InitialLeftNavigation.Initial_Left_Navigation()[pri:3, instance:cloudlibraryAutomation.QuitTheApplication@64616ca2]">Initial_Left_Navigation</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/01/26 13:03:34</td>   <td>57024</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FeaturedShelves.Featured_Shelves()[pri:4, instance:cloudlibraryAutomation.CheckoutBookFromFeaturedShelf@2ed94a8b]">Featured_Shelves</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/01/26 13:03:34</td>   <td>57031</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FeaturedShelves.Featured_Shelves()[pri:4, instance:cloudlibraryAutomation.FeaturedShelves@38082d64]">Featured_Shelves</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/01/26 13:03:34</td>   <td>57039</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FeaturedShelves.Featured_Shelves()[pri:4, instance:cloudlibraryAutomation.QuitTheApplication@64616ca2]">Featured_Shelves</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="ee9593">  <td>16/01/26 13:03:34</td>   <td>57047</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckoutBookFromFeaturedShelf.Checkout_Book_From_Featured_Shelf()[pri:5, instance:cloudlibraryAutomation.CheckoutBookFromFeaturedShelf@2ed94a8b]">Checkout_Book_From_Featured_Shelf</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="ee9593">  <td>16/01/26 13:03:34</td>   <td>57054</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckoutBookFromFeaturedShelf.Checkout_Book_From_Featured_Shelf()[pri:5, instance:cloudlibraryAutomation.QuitTheApplication@64616ca2]">Checkout_Book_From_Featured_Shelf</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>16/01/26 13:03:34</td>   <td>57060</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ReadfromMyBooks.Read_from_MyBooks()[pri:6, instance:cloudlibraryAutomation.QuitTheApplication@64616ca2]">Read_from_MyBooks</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="93ce8c">  <td>16/01/26 13:03:34</td>   <td>57068</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NavigatetoMybooksandReturnBooks.Return_from_MyBooks()[pri:7, instance:cloudlibraryAutomation.QuitTheApplication@64616ca2]">Return_from_MyBooks</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="d5c0ae">  <td>16/01/26 13:03:34</td>   <td>57076</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogOutoftheApplication.Logout()[pri:8, instance:cloudlibraryAutomation.QuitTheApplication@64616ca2]">Logout</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/01/26 13:03:35</td>   <td>57088</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LaunchtheApplication.Launch_the_application()[pri:1, instance:cloudlibraryAutomation.InitialLeftNavigation@dfd3711]">Launch_the_application</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/01/26 13:03:35</td>   <td>57097</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LaunchtheApplication.Launch_the_application()[pri:1, instance:cloudlibraryAutomation.ReadfromMyBooks@13fee20c]">Launch_the_application</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/01/26 13:03:35</td>   <td>57104</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogintotheApplication.login()[pri:2, instance:cloudlibraryAutomation.InitialLeftNavigation@dfd3711]">login</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/01/26 13:03:35</td>   <td>57112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogintotheApplication.login()[pri:2, instance:cloudlibraryAutomation.ReadfromMyBooks@13fee20c]">login</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="7e6faf">  <td>16/01/26 13:03:35</td>   <td>57119</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InitialLeftNavigation.Initial_Left_Navigation()[pri:3, instance:cloudlibraryAutomation.InitialLeftNavigation@dfd3711]">Initial_Left_Navigation</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="7e6faf">  <td>16/01/26 13:03:35</td>   <td>57128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InitialLeftNavigation.Initial_Left_Navigation()[pri:3, instance:cloudlibraryAutomation.ReadfromMyBooks@13fee20c]">Initial_Left_Navigation</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/01/26 13:03:35</td>   <td>57137</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FeaturedShelves.Featured_Shelves()[pri:4, instance:cloudlibraryAutomation.ReadfromMyBooks@13fee20c]">Featured_Shelves</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="ee9593">  <td>16/01/26 13:03:35</td>   <td>57144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckoutBookFromFeaturedShelf.Checkout_Book_From_Featured_Shelf()[pri:5, instance:cloudlibraryAutomation.ReadfromMyBooks@13fee20c]">Checkout_Book_From_Featured_Shelf</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>16/01/26 13:03:35</td>   <td>57151</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ReadfromMyBooks.Read_from_MyBooks()[pri:6, instance:cloudlibraryAutomation.ReadfromMyBooks@13fee20c]">Read_from_MyBooks</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/01/26 13:03:35</td>   <td>57158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LaunchtheApplication.Launch_the_application()[pri:1, instance:cloudlibraryAutomation.LaunchtheApplication@42d3bd8b]">Launch_the_application</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/01/26 13:03:35</td>   <td>57167</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LaunchtheApplication.Launch_the_application()[pri:1, instance:cloudlibraryAutomation.LogintotheApplication@26ba2a48]">Launch_the_application</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/01/26 13:03:35</td>   <td>57173</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogintotheApplication.login()[pri:2, instance:cloudlibraryAutomation.LogintotheApplication@26ba2a48]">login</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/01/26 13:03:35</td>   <td>57181</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LaunchtheApplication.Launch_the_application()[pri:1, instance:cloudlibraryAutomation.LogOutoftheApplication@5f2050f6]">Launch_the_application</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/01/26 13:03:35</td>   <td>57186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogintotheApplication.login()[pri:2, instance:cloudlibraryAutomation.LogOutoftheApplication@5f2050f6]">login</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="7e6faf">  <td>16/01/26 13:03:35</td>   <td>57193</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InitialLeftNavigation.Initial_Left_Navigation()[pri:3, instance:cloudlibraryAutomation.LogOutoftheApplication@5f2050f6]">Initial_Left_Navigation</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/01/26 13:03:35</td>   <td>57199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FeaturedShelves.Featured_Shelves()[pri:4, instance:cloudlibraryAutomation.LogOutoftheApplication@5f2050f6]">Featured_Shelves</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="ee9593">  <td>16/01/26 13:03:35</td>   <td>57204</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckoutBookFromFeaturedShelf.Checkout_Book_From_Featured_Shelf()[pri:5, instance:cloudlibraryAutomation.LogOutoftheApplication@5f2050f6]">Checkout_Book_From_Featured_Shelf</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>16/01/26 13:03:35</td>   <td>57210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ReadfromMyBooks.Read_from_MyBooks()[pri:6, instance:cloudlibraryAutomation.LogOutoftheApplication@5f2050f6]">Read_from_MyBooks</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="93ce8c">  <td>16/01/26 13:03:35</td>   <td>57215</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NavigatetoMybooksandReturnBooks.Return_from_MyBooks()[pri:7, instance:cloudlibraryAutomation.LogOutoftheApplication@5f2050f6]">Return_from_MyBooks</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="d5c0ae">  <td>16/01/26 13:03:35</td>   <td>57221</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogOutoftheApplication.Logout()[pri:8, instance:cloudlibraryAutomation.LogOutoftheApplication@5f2050f6]">Logout</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/01/26 13:03:35</td>   <td>57231</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LaunchtheApplication.Launch_the_application()[pri:1, instance:cloudlibraryAutomation.NavigatetoMybooksandReturnBooks@3b81a1bc]">Launch_the_application</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/01/26 13:03:35</td>   <td>57245</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogintotheApplication.login()[pri:2, instance:cloudlibraryAutomation.NavigatetoMybooksandReturnBooks@3b81a1bc]">login</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="7e6faf">  <td>16/01/26 13:03:35</td>   <td>57321</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InitialLeftNavigation.Initial_Left_Navigation()[pri:3, instance:cloudlibraryAutomation.NavigatetoMybooksandReturnBooks@3b81a1bc]">Initial_Left_Navigation</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/01/26 13:03:35</td>   <td>57331</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FeaturedShelves.Featured_Shelves()[pri:4, instance:cloudlibraryAutomation.NavigatetoMybooksandReturnBooks@3b81a1bc]">Featured_Shelves</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="ee9593">  <td>16/01/26 13:03:35</td>   <td>57338</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckoutBookFromFeaturedShelf.Checkout_Book_From_Featured_Shelf()[pri:5, instance:cloudlibraryAutomation.NavigatetoMybooksandReturnBooks@3b81a1bc]">Checkout_Book_From_Featured_Shelf</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>16/01/26 13:03:35</td>   <td>57348</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ReadfromMyBooks.Read_from_MyBooks()[pri:6, instance:cloudlibraryAutomation.NavigatetoMybooksandReturnBooks@3b81a1bc]">Read_from_MyBooks</td> 
  <td>main@559670971</td>   <td></td> </tr>
<tr bgcolor="93ce8c">  <td>16/01/26 13:03:35</td>   <td>57356</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NavigatetoMybooksandReturnBooks.Return_from_MyBooks()[pri:7, instance:cloudlibraryAutomation.NavigatetoMybooksandReturnBooks@3b81a1bc]">Return_from_MyBooks</td> 
  <td>main@559670971</td>   <td></td> </tr>
</table>
