<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="acee67">  <td>16/01/19 16:32:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;cloudlibraryAutomation.cloudLibraryConfiguration.A_welcome()">&gt;&gt;A_welcome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510067370</td>   <td></td> </tr>
<tr bgcolor="b8f8f4">  <td>16/01/19 16:32:02</td>   <td>51</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="cloudlibraryAutomation.LaunchtheApplication.launchtheapplication()">launchtheapplication</td> 
  <td>main@1510067370</td>   <td></td> </tr>
</table>
