<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b86989">  <td>16/05/06 15:12:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckoutBookFromFeaturedShelf.Checkout_Book_From_Featured_Shelf()[pri:5, instance:cloudlibraryAutomation.QuitTheApplication@90f6bfd]">Checkout_Book_From_Featured_Shelf</td> 
  <td>main@1359484306</td>   <td></td> </tr>
<tr bgcolor="d072a9">  <td>16/05/06 15:12:19</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FeaturedShelves.Featured_Shelves()[pri:4, instance:cloudlibraryAutomation.QuitTheApplication@90f6bfd]">Featured_Shelves</td> 
  <td>main@1359484306</td>   <td></td> </tr>
<tr bgcolor="75828b">  <td>16/05/06 15:12:19</td>   <td>-5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InitialLeftNavigation.Initial_Left_Navigation()[pri:3, instance:cloudlibraryAutomation.QuitTheApplication@90f6bfd]">Initial_Left_Navigation</td> 
  <td>main@1359484306</td>   <td></td> </tr>
<tr bgcolor="7f67ad">  <td>16/05/06 15:12:19</td>   <td>-10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LaunchtheApplication.Launch_the_application()[pri:1, instance:cloudlibraryAutomation.QuitTheApplication@90f6bfd]">Launch_the_application</td> 
  <td>main@1359484306</td>   <td></td> </tr>
<tr bgcolor="809079">  <td>16/05/06 15:12:19</td>   <td>6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogOutoftheApplication.Logout()[pri:9, instance:cloudlibraryAutomation.QuitTheApplication@90f6bfd]">Logout</td> 
  <td>main@1359484306</td>   <td></td> </tr>
<tr bgcolor="b2f6e2">  <td>16/05/06 15:12:19</td>   <td>2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ReadfromMyBooks.Read_from_MyBooks()[pri:6, instance:cloudlibraryAutomation.QuitTheApplication@90f6bfd]">Read_from_MyBooks</td> 
  <td>main@1359484306</td>   <td></td> </tr>
<tr bgcolor="71769e">  <td>16/05/06 15:12:19</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NavigatetoMybooksandReturnBooks.Return_from_MyBooks()[pri:7, instance:cloudlibraryAutomation.QuitTheApplication@90f6bfd]">Return_from_MyBooks</td> 
  <td>main@1359484306</td>   <td></td> </tr>
<tr bgcolor="8ceff1">  <td>16/05/06 15:11:55</td>   <td>-23400</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;cloudLibraryConfiguration.Welcome()[pri:0, instance:cloudlibraryAutomation.QuitTheApplication@90f6bfd]">&gt;&gt;Welcome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1359484306</td>   <td></td> </tr>
<tr bgcolor="df88bb">  <td>16/05/06 15:12:19</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookOfInterest.booksofinterest()[pri:5, instance:cloudlibraryAutomation.QuitTheApplication@90f6bfd]">booksofinterest</td> 
  <td>main@1359484306</td>   <td></td> </tr>
<tr bgcolor="809ea1">  <td>16/05/06 15:12:19</td>   <td>-7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogintotheApplication.login()[pri:2, instance:cloudlibraryAutomation.QuitTheApplication@90f6bfd]">login</td> 
  <td>main@1359484306</td>   <td></td> </tr>
</table>
